/* cafe content */


#content {
    position : relative;
    margin-top : 60px;
}
#content > .wrapper {
    width : 80%;
    position: absolute;
    margin : 0 auto;
    left : 0; right :0;
    

}
.footer > .wrapper {
    width : 100%;      
}
#cafe-header {
    font-family: 'Apple SD Gothic Neo', NanumBarunGothic, 'Malgun Gothic', dotum, sans-serif;
    font-size : 1.0em;
    z-index: 20;
    padding-top : 60px;
    width : 34px;
    margin-left: 20px;
    position : fixed;

}
#cafe-header .wrapper {
    padding : 0;   

}
#cafe-header ul {
    width : 100%;
    text-align: center;

    position : relative;
}
#cafe-header li {
    padding: 15px 5px;
    display: inline-block;

    position : relative;
}

#backtotop {   
    position : fixed;
    width : 100%;
    height : 0;
    margin : auto 0;
    top : 0; left :0; bottom: 0; right : 0;
/*        margin-right: 10px;*/
}
#backtotop .wrapper {
    padding-right: 10px;
    position: absolute;
    right : 0;
}
#backtotop a {
    display: inline-block;
    
    -webkit-transform: rotate(90deg);   
       -moz-transform: rotate(90deg);   
         -o-transform: rotate(90deg);   
            transform: rotate(90deg);   
}

.cafe-active {
    position : absolute;
    background-color: black;

}
.cafe-active > a {
    color : white;
    -webkit-transition: color 0.5s linear;
       -moz-transition: color 0.5s linear;
         -o-transition: color 0.5s linear;
            transition: color 0.5s linear;
    
}
.cafe {
    position: relative;
    width : 100%;
    min-height : 500px;
}
.cafe-title {
    
    font-family: 'Apple SD Gothic Neo', NanumBarunGothic, 'Malgun Gothic', dotum, sans-serif;
    font-size : 1.0em;
    position : relative;
    height : 100px;
}
.cafe-title > .wrapper {
    font-size : 1.2em;
    position: absolute;
    width : 80%;
    margin : 0 auto;
    left : 0; right : 0;
    padding : 40px 0;
    text-align: center;

}
.cafe .imageslider {
    overflow: hidden;
}
.cafe .imageslider img{
    position: relative;
}

.script {
    font-family: SeoulNamsanL;
    font-size : 0.8em;
    line-height: 170%;
    margin-right : 20px;
}
.script p{
    line-height: 170%;
    margin : 1.3em 0;
}

.script p:before{
    content : " ";
    display: inline-block;
    width : 5px;
}
#hapjeong {
    position: relative;
    width : 100%;
}
#hapjeong > .wrapper {
    position: relative;
    padding-top : 800px;
    background: black;
    width : 100%;
}
#hapjeong .getdown {
    position: relative;
    width : 100%;
    text-align: center;
    height : 100px;
}
#hapjeong .getdown img {
    display: inline-block;
    position: absolute;
    margin: auto;
    top : 0; bottom : 0; left : 0; right : 0;
}
#hapjeong .cafe-title {
    position : relative;
    background: black;
    height : 100px;
}
#hapjeong .cafe-title * {
    color : white;
}   
#hapjeong .cafe-title > .wrapper {
    border-top : 1px solid #888;
}
#hapjeong .article {
    width : 100%;
    min-height : 400px;
    position : relative;
}
#hapjeong .article .left {
    width : 40%;
    float : left;
}
#hapjeong .article .left .lamp{
    width : 100%;
    text-align: center;
}
#hapjeong .article .left .lamp img{
    width : 80px;   
}
#hapjeong .article .left .word{
    padding-top : 50px;
    width : 100%;
    text-align: center;
}
#hapjeong .article .left .word h1{
    font-size: 1.2em;   
}

#hapjeong .article .right {

    width : 60%;
    float : right;
}
#hapjeong .article .right .script{
    padding-top : 40px;
    margin-right: 50px;
}


#dcubecity {
    width : 100%;
    position: relative;
}
#dcubecity > .wrapper {
    width : 100%;   
}
#dcubecity .cafe-title > .wrapper {
    border-bottom : 1px solid black; 
}
#dcubecity .hat {
    margin-top: 10px;
    position: relative;
    width : 100%;
    text-align: center;
    height : 320px;    
    background: white;
}
#dcubecity .hat > img{
    display: inline-block;
    position: absolute;
    margin: auto;
    top : 0; bottom : 0; left : 0; right : 0;
    height : 50%;       
}
#dcubecity .main-img {
    position: relative;
    text-align: center;
    overflow: hidden;
}
#dcubecity .main-img > img{
    width : 100%;
}
#dcubecity .script {
    margin: 0 40px;
    left : 0; right : 0;
    padding-top: 50px;
}   


.cafe .atwork {
    height : 100px;
    width : 100px;
    
    position: absolute;
    margin: auto;
    top : 0; right : 0; left :0; bottom :0;
}
@media only screen and (max-width : 1029px){
    
    #cafe-header {
        margin-left: 10px;
    }
    #backtotop .wrapper {
        padding : 0;
    }

}
@media only screen and (max-width : 640px){
    #content {
        margin-top : 78px;
    }
    #content > .wrapper {
        width : 100%;   
    }
    .footer > .wrapper {
        width : 80%;      
    }
    #cafe-header {
        width : 100%;
        padding-top : 48px;
        margin: 0;
        font-size: 0.8em;
    }
    #cafe-header ul {
        width : 100%;
        height : 20px;
        padding : 5px 0;
    }
    #cafe-header li {
        padding : 5px 10px;
    }
    #hapjeong .article {
        width : 80%;
        margin: 0 auto;
        left : 0; right :0;
    }
    #hapjeong .article .left {
        width : 100%;
        position : relative;
        float : none;
    }
    #hapjeong .article .right {
        width : 100%;
        position : relative;
        float : none;
    }
    #hapjeong .article .right .script{
        margin : 0;
        padding : 20px 0;
    }
    #backtotop {
        transform: none;
        position : relative;
    }
    #backtotop {   
        width : 100%;
        top : auto; left :auto; bottom: auto; right : auto;
        height : auto;
    /*        margin-right: 10px;*/
    }
    #backtotop .wrapper {
        padding : 30px 0;
        position: relative;
        right : auto;
        text-align: center;
    }
    #backtotop a {
        padding : 10px 0;
        border-bottom: 1px solid black;
        -webkit-transform: none;  
           -moz-transform: none;  
             -o-transform: none;  
                transform: none;  
        
    }
    #hapjeong .imageslider > img {
        
        left : -160px;
    }
    
}