html, body {
    font-family:  "BebasNeue", sans-serif;
    font-weight: normal;
    position : absolute;
    width : 100%;
    height : 100%;
}
#wrapper {
    position : absolute;
    height : 100%;
    width : 100%;
    margin : 0 auto;
    left : 0; right : 0;
}
#desktop-header {
    position: fixed;
    z-index: 30;
    display: block;
    height : 60px;
    width : 100%;
    background-color : rgba(255,255,255,0.4);
}
#desktop-header.dark {
    background-color : rgba(0,0,0,0.4);
    color : white;
}
#desktop-header.dark .logo {
    background-repeat: no-repeat;
    background-image: url('/beanbrothers/image/BEANBROTHERS_white.png');
    background-size: contain;  
}


#desktop-header.light {
    background-color : rgba(255,255,255,0.4);
    color : black;
}

#desktop-header.light .logo {
    background-repeat: no-repeat;
    background-image: url('/beanbrothers/image/BEANBROTHERS.png');
    background-size: contain;  
}


#desktop-header .wrapper {
    width : 100%;
    height : 100%;
    font-size: 1.4em;
}
#desktop-header .logo {
    float: left;
    
    margin: 10px;
    display: block;
    height : 40px;
    width : 270px;
        
    background-repeat: no-repeat;
    background-image: url('/beanbrothers/image/BEANBROTHERS.png');
    background-size: contain;  

}
#right-nav {
    float : right;
    padding-right: 20px;
    margin-top: 20px;
    border-left: 1px solid grey;
}
#right-nav * {
    margin-left: 20px;
    display: inline-block;
}
#left-nav {
    float : right;   
    margin-top: 20px;
}
#left-nav * {
    margin-right: 20px;
    display: inline-block;
}

#mobile-nav-trigger {
    display: none;   
}
#mobile-toggle {
    display: none;
    z-index: 23;
    position: fixed;
    top: 0;    
    right : 0;
    margin: 11px;
    width : 25px;
    height : 25px;
}
#mobile-toggle span, #mobile-toggle span:before, #mobile-toggle span:after{
    display : block;
    width : 100%;
    height : 20%;
    background-color: black;
    
    -webkit-backface-visibility: hidden;
    
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}
#mobile-toggle span{    
    margin: 40% 0;
    top : 40%;
}
#mobile-toggle span:before, #mobile-toggle span:after{
    position: absolute;
    content : "";
}
#mobile-toggle span:before{
    top : 0;
}
#mobile-toggle span:after {
    top : 80%;
}

#mobile-nav-trigger:checked ~ #mobile-toggle span{
    background: transparent;   
}
#mobile-nav-trigger:checked ~ #mobile-toggle span:before{
    background-color: white;
    -webkit-transform: translate(0px, 10px) rotate(-45deg);
       -moz-transform: translate(0px, 10px) rotate(-45deg);
         -o-transform: translate(0px, 10px) rotate(-45deg);
            transform: translate(0px, 10px) rotate(-45deg);
}
#mobile-nav-trigger:checked ~ #mobile-toggle span:after{
    background-color: white;
    -webkit-transform: translate(0px, -10px) rotate(45deg);   
       -moz-transform: translate(0px, -10px) rotate(45deg);   
         -o-transform: translate(0px, -10px) rotate(45deg);   
            transform: translate(0px, -10px) rotate(45deg);   
}

#mobile-header {
    display: none;
    position: fixed;
    z-index: 22;
    width : 100%;
    height : 48px;
}
#mobile-header .cart {
    -webkit-backface-visibility: hidden;
    
    -webkit-transition: color 0.5s linear;
       -moz-transition: color 0.5s linear;
         -o-transition: color 0.5s linear;
            transition: color 0.5s linear;
    padding-top: 14px;
    font-size: 20px;
}
#mobile-header .wrapper {
    height : 100%;
}
#mobile-header .wrapper .logo {
    margin-top: 8px;
    display: inline-block;
    height : 32px;
    width : 216px;
    
    transition: all 0.5s ease;
    
    background-repeat: no-repeat;
    background-image: url('/beanbrothers/image/BEANBROTHERS.png');
    background-size: contain;
}
#mobile-header .wrapper .login {
    -webkit-backface-visibility: hidden;
    
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
    
    float : right;   
    padding-top: 14px;
    margin-right: 20px;
    font-size: 20px;
}
#mobile-nav-trigger:checked ~ #mobile-header .logo {
    background-image: url('/beanbrothers/image/BEANBROTHERS_white.png');
}
#mobile-menu {
    font-size : 1.0em;
    
    z-index: 21;
    position: fixed;
    top:0;
    display : none;

    width : 100%;
    height : 100%;
    
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
    visibility: hidden;
    opacity: 0;
    background: radial-gradient(circle, rgba(0,0,0,0.8) 10%, #000 70%); 
    text-align: center;
}
#mobile-menu > .wrapper {
    width : 100%;
    height : 100%;
    position: absolute;
    top : 0;
}

#mobile-menu > .wrapper:before {
    content : " ";
    font : 0/0 a;
    height : 100%;
    vertical-align: middle;
    display: inline-block;
}
#mobile-menu .major-menu {
    font-size : 3.0em;   
    overflow-x: hidden;
    
    display: inline-block;
    vertical-align: middle;
    
    width : 80%;
    text-align: center;
}
#mobile-menu .minor-menu {
    position: absolute;
    left : 0;
    right : 0;
    bottom : 0;
    padding-bottom: 30px;
    width : 216px;
    margin: 0 auto;
    font-size : 1.0em;
}
#mobile-menu .login {
    display: inline-block;
    float : right;
    font-size : 29px;
}
#mobile-menu .sns_a {
    display: inline-block;
    margin-right: 20px;
    float : left;
}
#mobile-menu * {
    color : white;   
}
#sublogo {
    z-index: 22;

    position : absolute;
    top : 0; left : 0; right : 0;
    margin : 50px auto 0 auto;
    display: block;
    height : 12px;
    width : 180px;
    
    
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
    
    background-repeat: no-repeat;
    background-image: url('/beanbrothers/image/sublogo.png');
    background-size: contain;

}
#mobile-nav-trigger:checked ~ #mobile-menu {
    visibility: visible;
    opacity: 0.95; 
}
footer {
    clear : both;
    width : 100%;   
    font-size: 1.1em;
}
footer h1 {
    font-size : 1.6em;   
}
footer ul {
    margin : 20px 0;   
}
footer li {
    padding: 5px 0;   
}
#sns ul li {
    float : left; 
    margin-right : 10px;
}
footer .wrapper  {
    width : 80%;
    margin: 0 auto;
    left : 0; right : 0;
}
footer .icon {
    display: inline-block;
            filter: invert(0.7);
    -webkit-filter: invert(0.7);
    width : 20px;
    height : 20px;
}
.icon {
    display: inline-block;
            filter: invert(0.7);
    -webkit-filter: invert(0.7);
}
.icon-coffee {
    background: url(/beanbrothers/image/coffee-36.png) no-repeat;
    background-size: contain;
    width : 24px;
    height : 24px;
}
.icon-facebook {
    background: url(/beanbrothers/image/facebook-36.png) no-repeat;
    background-size: contain;
    
    width : 24px;
    height : 24px;
}
.icon-instagram {
    background: url(/beanbrothers/image/instagram-36.png) no-repeat;
    background-size: contain;
    
    width : 24px;
    height : 24px;
}
#sns, #contact, #aboutus {
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
    float : left;
    width : auto;
    margin-right: 120px;
}

#legal {
    font-size : 0.7em;
    
    float : left;
    width : 100%;
    margin-top: 80px;
    padding-top: 30px;
    border-top : 1px solid #aaa;
}

@media only screen and (min-width : 1824px){
    #desktop-header {
        height : 90px;
        font-size : 1.4em;
    }
    #right-nav, #left-nav {
        margin-top: 30px;
    }
    #desktop-header .logo {
        height : 60px;
        width : 405px;
        margin: 15px;
    }
    #content {
        margin-top : 90px;   
    }
       
}
@media only screen and (max-width : 1029px){
    #desktop-header {
        display: none;   
    }
    #mobile-header {
        display: block;   
    }
    #mobile-toggle {
        display: inline-block;   
    }
    #mobile-menu {
        display: block;
        right : 0;
        width : 45%;
    }
    #mobile-header .wrapper {
        width : 80%;   
        display: block;
        margin : 0 auto;
        left : 0; right : 0;
    }
    #mobile-header .logo {
        float : left;
    }   
    #mobile-header .cart {
        float : right;
    }
    .ipad {
        display : block;   
    }
    .mobile {
        display: none;   
    }
    #mobile-toggle {
        margin-right: 10%;   
    }
    #mobile-header .cart {
        margin-right: 50px;
    }
    #sns, #contact, #aboutus {
        margin-right: 80px;
    }
}
@media only screen and (max-width : 640px){
    #desktop-header {
        display: none;   
    }
    #mobile-header {
        display: block;   
    }
    #mobile-toggle {
        display: inline-block; 
        margin-right: 11px;
    }
    #mobile-menu {
        display: block;
        width : 100%;
    }
    #mobile-header {
        clear : both;   
    }
    #mobile-header .wrapper {
        text-align: center;
        width : 100%;   
    }
    #mobile-header .logo {
        float: none;
    }
    #mobile-header .cart {
        margin-left: 11px;
        position : absolute;
        left : 0;
    }
    .ipad {
        display : none;   
    }
    .mobile {
        display : block;   
    }
    #aboutus {
        width : 100%;   
    }
    #contact {
        width : 100%; 
    }
    #sns {
        width : 100%;   
    }
    .footer > .wrapper {
        width : 80%;   
    }
}