@font-face {
    font-family: "BebasNeue";
    font-weight: bold;
    font-style : normal;
    src: url('/beanbrothers/font/BebasNeue Bold.eot');
    src: 
        url("/beanbrothers/font/BebasNeue Bold.woff") format("woff"),
        url("/beanbrothers/font/BebasNeue Bold.otf") format("opentype");
}

@font-face {
    font-family: "BebasNeue";
    font-weight : normal;
    font-style : normal;
  src: url('/beanbrothers/font/BebasNeue Regular.eot');
  src: 
    url("/beanbrothers/font/BebasNeue Regular.woff") format("woff"),
    url("/beanbrothers/font/BebasNeue Regular.otf") format("opentype");
    
}
@font-face {
    font-family: "NanumBarunGothic";
    font-weight : normal;
    font-style : normal;
    src: url('/beanbrothers/font/NanumBarunGothic.eot');
    src: local("☺"),    
        url("/beanbrothers/font/NanumBarunGothic.woff") format("woff"),
        url("/beanbrothers/font/NanumBarunGothic.otf") format("opentype");
}
@font-face {
    font-family: "NanumBarunGothic";
    font-weight: bold;
    font-style : normal;
    src: url('/beanbrothers/font/NanumBarunGothicBold.eot');
    src: local("☺"),    
        url("/beanbrothers/font/NanumBarunGothicBold.woff") format("woff"),
        url("/beanbrothers/font/NanumBarunGothicBold.otf") format("opentype");
}
