/* guide */

#latest{
    font-size : 1.0em;
    width : 100%;
    height : 100%;
    background: url(/beanbrothers/image/coffee_theater.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}
#latest > .wrapper {
    width : 80%;
    margin: 0 auto;
}
#latest .script {
    font-size : 1.0em;
    display: inline-block;
    padding-top: 150px;   
    
}
#latest .script * {
    transition : all 0.5s ease;   
}
#latest .script:hover{
   font-size : 0.95em;
}
#latest h1 {
    font-size: 2.0em;   
}
#latest .line {
    width : 20%;
    border : solid 2px black;   
    margin: 20px 0;
}
#latest h2 {
    font-size : 1.2em;
}

#before {
    font-family: NanumBarunGothic, sans-serif;
    font-size : 1.0em;
    
}
#before > .wrapper {
    width : 80%;
    margin: 0 auto;
    padding-top: 100px.
}
#before .section {
    float : left;
    display: inline-block;
    width : 33%;
    height: 300px;
    margin : 20px 0;
}
#before .section .wrapper {
    width : 90%;
    margin : 0 auto;
}
#before .section .image {
    width: 100%;
    height : 80%;
    overflow: hidden;
    margin: 5px 0;
}
#before .section .image > img{
    width : 100%;   
}
#before .section h1 {
    margin: 0.3em 0;
    font-size : 1.0em;   
}
#before .section h2 {
    color : #999;
    font-size : 0.8em;   
}

@media only screen and (min-width : 1824px){
    #before .section {
        width : 25%;
    }
}

@media only screen and (max-width : 1029px){
    #desktop-header {
        display: none;   
    }
    #mobile-header {
        display: block;   
    }
    #mobile-toggle {
        display: inline-block;   
    }
    #mobile-menu {
        display: block;
        right : 0;
        width : 45%;
    }
    #content {
        padding-top : 78px;
    }
    #mobile-header .wrapper {
        width : 80%;   
        display: block;
        margin : 0 auto;
        left : 0; right : 0;
    }
    #mobile-header .logo {
        float : left;
    }   
    #mobile-header .cart {
        float : right;
    }
    .ipad {
        display : block;   
    }
    .mobile {
        display: none;   
    }
    #mobile-toggle {
        margin-right: 10%;   
    }
    #mobile-header .cart {
        margin-right: 50px;
    }
    #sns, #contact, #aboutus {
        margin-right: 60px;
    }
    #latest .script {
        padding-top: 100px;   
    }
    
    #before .section {
        width : 50%;
    }
}
@media only screen and (max-width : 640px){
    #desktop-header {
        display: none;   
    }
    #mobile-header {
        display: block;   
    }
    #mobile-toggle {
        display: inline-block; 
        margin-right: 11px;
    }
    #mobile-menu {
        display: block;
        width : 100%;
    }
    #mobile-header {
        clear : both;   
    }
    #mobile-header .wrapper {
        text-align: center;
        width : 100%;   
    }
    #mobile-header .logo {
        float: none;
    }
    #mobile-header .cart {
        margin-left: 11px;
        position : absolute;
        left : 0;
    }
    .ipad {
        display : none;   
    }
    .mobile {
        display : block;   
    }
    #aboutus {
        width : 100%;   
    }
    #contact {
        width : 100%; 
    }
    #sns {
        width : 100%;   
    }
    
    #latest{
        font-size : 0.95em;
        font-weight: bold;
        background-position: 35%;
    }
    #latest .line {
        border: 1px solid black;   
    }
    #latest h2{
        font-size : 0.9em;   
    }
    
    #before .section {
        width : 100%;
    }
    
}