html, body {
    font-size: 1.0em;
    font-family:  "BebasNeue", sans-serif;
    font-weight : normal;
    position : absolute;
    width : 100%;
    height : 100%;
}
#wrapper {
    font-size: 1.3em;
    position : absolute;
    width : 100%;
    height : 100%;
}
#intro-container {
    background-color: black;
    position: relative;
    overflow: hidden;
    max-height: 100%;
    z-index: 11;
}
#intro {
    overflow: hidden;
    background: url(/beanbrothers/image/big.jpg) no-repeat;
    background-size: 101%;
    background-position: 0 -140px;
    position: relative;

    width : 100%;

    line-height: 0;

}
#bg-small {
    display: none;
}
#bg-middle {
    display: none
}
#bg-big {
    display: inline-block;
    width : 100%;   
    visibility: hidden;
}
#intro > .wrapper {
    position: absolute;
    top : 0; left : 0; right :0 ; bottom :0;
    margin: 0 auto;
    width: 78%;
    height : 100%;

}
#intro .sns {
    clear: both;
    padding-top: 20%;
    position: absolute;
    top : 0;
    width : 100%;
    height : 40px;
}

#intro .sns_a {
    display: inline-block;
    float: right;
    margin-left: 30px;
}

.icon {
    display: inline-block;
            filter: invert(0.7);
    -webkit-filter: invert(0.7);
}
.icon-coffee {
    background: url(/beanbrothers/image/coffee-36.png) no-repeat;
    background-size: contain;
    width : 24px;
    height : 24px;
}
.icon-facebook {
    background: url(/beanbrothers/image/facebook-36.png) no-repeat;
    background-size: contain;
    
    width : 24px;
    height : 24px;
}
.icon-instagram {
    background: url(/beanbrothers/image/instagram-36.png) no-repeat;
    background-size: contain;
    
    width : 24px;
    height : 24px;
}
#intro .contact {
    position: relative;
    line-height: normal;
    margin : 37% auto 0 auto;
    padding-top: 3%;
    width : 100%;
    height : 20%;
    
    font-size: 1.0em;
}
#intro .contact *{
    color : white;
}
#intro .phone {
    margin-left: 30px;
    float : right;   
    cursor : default;
}
#intro .business { 
    margin-left: 30px;
    float : right;
}

#bg-img {
    position: absolute;
    width : 100%;
    top : 0;   

}
.logo {
    -webkit-transition: opacity 0.3s ease;
       -moz-transition: opacity 0.3s ease;
         -o-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
    visibility: hidden;
    opacity: 0;   
}
.logo.show{

    visibility: visible;
    opacity: 1; 
}
#desktop-header {
    font-size : 1.1em;
    width : 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    z-index : 30;
    color : white;
}
#desktop-header a {
    color : white;   
}
#desktop-header > .logo {
    position: absolute;
    height: 40px;
    padding-bottom: 10px;
}
#desktop-header > .logo > a{
    height : 40px;
    width : 270px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('/beanbrothers/image/BEANBROTHERS_white.png');
    background-size: contain;  
}
#desktop-header > .logo.show {
    position: relative;
}
#desktop-header.fade {
    background-color: rgba(0,0,0,0.5);
}
#desktop-header.fade * {
    color : white;   
}
#desktop-header.fixed {
    position: fixed;

    top : 0;
    bottom : auto;
    background-color: rgba(0,0,0,0.9);
}
#desktop-header.fixed * {
    color : white;   
}

#desktop-header > .wrapper {
    width : 78%;
    margin: 0 auto;
}
#desktop-header > .logo {
    width : 78%;
    margin : 0 auto;
}   
#mobile-header.bright {
    color : black;
}
#mobile-header.bright .wrapper .logo{
    background-repeat: no-repeat;
    background-image: url('/beanbrothers/image/BEANBROTHERS.png');
    background-size: contain;  
}
#mobile-toggle.bright span, #mobile-toggle.bright span:before, #mobile-toggle.bright span:after{
    background-color: black;   
}


#left-nav{
    
}
#right-nav{
    border-left: 1px solid white;
}
#left-nav .major-menu {
    display: inline-block;
    float: left;
    margin-right: 60px;
}

#right-nav .minor-menu {
    display: inline-block;
    float: right;
    margin-left: 60px;
}

#mobile-nav-trigger {
    display: none;   
}
#mobile-toggle {
    display: none;
    z-index: 23;
    position: fixed;
    top: 0;    
    right : 0;
    margin: 11px;
    width : 25px;
    height : 25px;
}
#mobile-toggle span, #mobile-toggle span:before, #mobile-toggle span:after{
    display : block;
    width : 100%;
    height : 20%;
    background-color: white;
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}
#mobile-toggle span{    
    margin: 40% 0;
    top : 40%;
}
#mobile-toggle span:before, #mobile-toggle span:after{
    position: absolute;
    content : "";
}
#mobile-toggle span:before{
    top : 0;
}
#mobile-toggle span:after {
    top : 80%;
}

#mobile-nav-trigger:checked ~ #mobile-toggle span{
    background: transparent;   
}
#mobile-nav-trigger:checked ~ #mobile-toggle span:before{
    background-color: white;
    -webkit-transform: translate(0px, 10px) rotate(-45deg);
       -moz-transform: translate(0px, 10px) rotate(-45deg);
         -o-transform: translate(0px, 10px) rotate(-45deg);
            transform: translate(0px, 10px) rotate(-45deg);
}
#mobile-nav-trigger:checked ~ #mobile-toggle span:after{
    background-color: white;
    -webkit-transform: translate(0px, -10px) rotate(45deg);   
       -moz-transform: translate(0px, -10px) rotate(45deg);   
         -o-transform: translate(0px, -10px) rotate(45deg);   
            transform: translate(0px, -10px) rotate(45deg);   
    
}

#mobile-header {
    color : white;
    display: none;
    position: fixed;
    top : 0;
    z-index: 22;
    width : 100%;
    height : 48px;
}
#mobile-header .cart {
    
    -webkit-transition: color 0.5s linear;
       -moz-transition: color 0.5s linear;
         -o-transition: color 0.5s linear;
            transition: color 0.5s linear;
    padding-top: 14px;
    font-size: 20px;

}
#mobile-header .wrapper {
    height : 100%;
}
#mobile-header .wrapper .logo {
    margin-top: 8px;
    display: inline-block;
    height : 32px;
    width : 216px;
    
    -webkit-transition: all 0.5s ease, opacity 0.3s ease;
       -moz-transition: all 0.5s ease, opacity 0.3s ease;
         -o-transition: all 0.5s ease, opacity 0.3s ease;
            transition: all 0.5s ease, opacity 0.3s ease;
    
    background-repeat: no-repeat;
    background-image: url('/beanbrothers/image/BEANBROTHERS_white.png');
    background-size: contain;
}

#mobile-header .wrapper .login {
    transition: all 0.5s linear;
    float : right;   
    padding-top: 14px;
    margin-right: 20px;
    font-size: 20px;
}
#mobile-nav-trigger:checked ~ #mobile-header .logo {
    background-image: url('/beanbrothers/image/BEANBROTHERS_white.png');
}
#mobile-menu {
    font-size : 1.0em;
    
    z-index: 21;
    position: fixed;
    top:0;
    display : none;

    width : 100%;
    height : 100%;
    
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
    visibility: hidden;
    opacity: 0;
    background: radial-gradient(circle, rgba(0,0,0,0.9) , #000); 
    text-align: center;
}
#mobile-menu > .wrapper {
    width : 100%;
    height : 100%;
    position: absolute;
    top : 0;
}

#mobile-menu > .wrapper:before {
    content : " ";
    font : 0/0 a;
    height : 100%;
    vertical-align: middle;
    display: inline-block;
}
#mobile-menu .major-menu {
    font-size : 3.0em;   
    overflow-x: hidden;
    
    display: inline-block;
    vertical-align: middle;
    
    width : 80%;
    text-align: center;
}
#mobile-menu .minor-menu {
    position: absolute;
    left : 0;
    right : 0;
    bottom : 0;
    padding-bottom: 30px;
    width : 216px;
    margin: 0 auto;
    font-size : 1.0em;
}
#mobile-menu .login {
    display: inline-block;
    float : right;
    font-size : 29px;
}
#mobile-menu .sns_a {
    display: inline-block;
    margin-right: 20px;
    float : left;
}
#mobile-menu * {
    color : white;   
}
#sublogo {
    z-index: 22;

    position : absolute;
    top : 0; left : 0; right : 0;
    margin : 50px auto 0 auto;
    display: block;
    height : 12px;
    width : 180px;
    
    
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
    
    background-repeat: no-repeat;
    background-image: url('/beanbrothers/image/sublogo.png');
    background-size: contain;

}


#mobile-nav-trigger:checked ~ #mobile-menu {
    visibility: visible;
    opacity: 0.9; 
}
footer {
    background-color: white;
    width : 100%;   
    font-size: 1.0em;
    padding-top: 100px;
}
footer h1 {
    font-size : 1.3em;   
}
footer ul {
    margin : 20px 0;   
}
footer li {
    font-size : 0.9em;
    padding: 5px 0;   
}
#sns ul li {
    float : left; 
    margin-right : 10px;
}
footer .wrapper  {
    width : 80%;
    margin: 0 auto;
    left : 0; right : 0;
}
footer .icon {
    display: inline-block;
            filter: invert(0.7);
    -webkit-filter: invert(0.7);
    width : 20px;
    height : 20px;
}
.icon-coffee {
    background: url(/beanbrothers/image/coffee-36.png) no-repeat;
    background-size: contain;

}
.icon-facebook {
    background: url(/beanbrothers/image/facebook-36.png) no-repeat;
    background-size: contain;
}
.icon-instagram {
    background: url(/beanbrothers/image/instagram-36.png) no-repeat;
    background-size: contain;
}
#sns, #contact, #aboutus {
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
    float : left;
    width : auto;
    margin-right: 120px;
}

#legal {
    font-size : 0.7em;
    float : left;
    width : 100%;
    margin-top: 80px;
    padding-top: 30px;
    border-top : 1px solid #aaa;
}


#content {
    font-size : 1.0em;
    width : 100%;
    z-index: 10;
    padding-top : 68px;
    background-color: black;
}
.section {
    overflow: hidden;
    position: relative;
    width : 100%;
    max-height: 100%;
}
.notice {
    text-align: center;
    background-color: black;
    color : white;
}
.notice > .wrapper {
    width : 87%;   
    padding: 50px 0;
    min-height : 300px;
    
    margin: auto;
}
.notice .title {
    width : 100%;
}
.notice .subtitle {
    padding-top: 20px;
    width : 100%;   
}
.notice .line {
    display: inline-block;
    border: solid 2px white;    
    width : 20%;
    margin: 10px 0;
}
.notice .detail {
    padding-bottom : 20px;
    width : 100%;
}
.notice h1 {
    font-size : 1.5em;
}
.notice h2 {
    font-size: 1.2em;
}
.notice h3 {
    font-size : 1.0em;
    
}
.coffeemain {
    width : 100%;
}
#bg-coffeemain {
    width: 100%;
    max-height : 90vh;
    overflow: hidden;
    background: url(/beanbrothers/image/theater3.jpg) no-repeat;
    background-size: 101% auto;
    background-position: center center;
    line-height: 0;
}
#bg-coffeemain > img {

    width : 100%;   
/*    vertical-align: middle;*/
    visibility: hidden;
}
.coffeemain > .wrapper {
    min-width : 200px;
    max-width : 300px;
    width : 30%;
    height : 100%;
    position: absolute;
    margin: 0 auto;
    top : 0; left : 0; right : 0;
    font: 0 a; 
    
}
.coffeemain .wrapper:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;   
}
.coffeemain .text {
    vertical-align: baseline;  
    display: inline-block;
    width : 100%;
    padding-bottom: 50px;
}
.coffeemain .text > img {
    width :100%;   
    margin-bottom: 5px;
        
}


.coffeeguide {
    clear : both;
    background-color: black;   
    line-height: 0;
    width : 100%;
}
.coffeeguide .section-bg{
    width : 101%;   
}
.coffeeguide > .wrapper {
    line-height: normal;
    position: absolute;
    top : 0;
    padding: 0;
    width : 100%;
    height : 100%;
    overflow: hidden;
}
.coffeeguide > .wrapper > .coffee{
    float: left;
    display: block;
    width : 25%;   
    text-align: center;
    position : relative;
    
    height : 100%;
    opacity: 0;
}

.coffeeguide .wrapper > .coffee.hover:hover:before, .coffee-hover-effect:before{
    opacity: 0.4;
}

.coffeeguide .wrapper > .coffee.hover:before{
    content : " ";
    font : 0/0 a;
    
    opacity : 0.7;

    width : 100%;
    height : 100%;
    background-color: black;
    
    position : absolute;
    top : 0; left : 0; right : 0; bottom : 0;
    
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
    
}
.coffeeguide .coffee > .wrapper {
    position: relative;
    width : 80%;
    margin: 0 auto;
}
.coffeeguide .coffee .coffee-logo {
    position : absolute;
    width : 100%;   
    
    left : 0; right : 0;
    padding-top : 50%;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}
.coffeeguide .coffee .coffee-logo img{
    width : 100%;
}
.coffeeguide .coffee.hover:hover .coffee-logo,
.coffee-hover-effect .coffee-logo{
    padding-top: 30%;
    opacity: 0.1;
}
.coffeeguide .coffee .bestwhen {
    text-align: center;
    width : 100%;
    position : absolute; 
    top : 0; 
    padding-top : 63%;
    visibility: hidden;
    opacity: 0;
    
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}
.coffeeguide .coffee:hover .bestwhen,
.coffee-hover-effect .bestwhen {
    top : 0;
    padding-top : 58%;
    visibility: visible;
    opacity: 1;
}
.coffeeguide .coffee.bk .bestwhen {
    color : #C02E30;   
}
.coffeeguide .coffee.vecky .bestwhen {
    color : #7CAC52;
}
.coffeeguide .coffee.patrick .bestwhen {
    color : #1673A3;
}

.coffeeguide .card {
    vertical-align: bottom;
    z-index: 11;
    font : 1.0em NanumBarunGothic;
    line-height: normal;
    visibility: hidden;
    position : absolute;
    top : 0; right : 0; bottom : 0; 
    width : 25%;
    height : 100%;
    
}
.coffeeguide .card-main {
    position : absolute;
    visibility: visible;

    width : 25%;
    height : 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 10;
    
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.coffeeguide .card.card-main > .wrapper {
    position: absolute;
    margin : auto;
    top : 0; right : 0; bottom : 0; left : 0;
    width : 80%;
    height : 80%;
    background-color: white;
    color : #111;   
}

.coffeeguide .card-main .info{
    width : 100%;
}
.coffeeguide .card-main .info .name{
    font-size : 1.2em;
    
    display: inline-block;
    padding-left : 0;
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

.coffeeguide .card-main .tag {
    font-size : 0.7em;
    position : absolute;
    bottom :0;
    margin : 0 5px 5% 5px;
}
.coffeeguide .coffee.hover:hover ~ .card-main, 
.coffee-hover-effect ~ .card-main{
    background-color: none;
    opacity: 1;
}
.coffeeguide .coffee.hover:hover ~ .card-main .wrapper, 
.coffee-hover-effect ~ .card-main .wrapper{
    background-color: white;
    opacity: 1;
    padding : 0.5em;
    -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
            border-radius: 25px;
}
.coffeeguide .coffee.hover:hover ~ .card-main .info .name, 
.coffee-hover-effect ~ .card-main .info .name{
    padding-left : 50%;
}

.coffeeguide .card > .wrapper {
    font-size : 1.0em;
    width : 80%;
    height : 80%;
    position : absolute;
    margin : auto;
    top : 0; left : 0; right : 0; bottom : 0;
    background-color: rgba(255,255,255,0.7);
    color : #666;
    padding : 0.5em;
    -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
            border-radius: 25px;
}
.coffeeguide .card > .wrapper > .info,
.coffeeguide .card > .wrapper > .taste {
    margin : 0.3em;
}
.coffeeguide .card > .wrapper > .info{
    padding-top : 10%;   
    display: inline-block;
}
.coffeeguide .card > .wrapper > .taste {
    padding-top : 15%;   
}

.coffeeguide .en {
    font-family : BebasNeue;   
    font-size : 1.0em;
}
.coffeeguide .kr {
    font-family : NanumBarunGothic; 
    font-size: 0.8em;
}
.coffeeguide span {
    line-height: 0;   
}
.coffeeguide .card > .wrapper h1 {
    font-size : 1.3em;   
    line-height: 1.0em;
}
.coffeeguide .card > .wrapper h3{
    font-size : 1.1em;   
    line-height : 1.3em;
}
.coffeeguide .card > .wrapper h4{
    font-size : 1.0em;
    line-height : 1.2em;
}
.coffeeguide .card > .wrapper h5{
    font-size : 0.7em;
    line-height : 1.4em;
}
.coffeeguide .card > .wrapper .line{
    width : 20%;
    border : 1px solid white;
    display: block;
    margin : 0.6em 0 0.7em 0;
    line-height: 0;
}
.coffeeguide .card > .wrapper > .taste h1 {
    color : #555;  
}
.coffeeguide .card-bk .name {
    color : #C02E30;   
}
.coffeeguide .card-vecky .name {
    color : #7CAC52;
}
.coffeeguide .card-patrick .name {
    color : #1673A3;
}

.coffeeguide .coffee.bk.hover:hover ~ .card-bk,
.bk.coffee-hover-effect ~ .card-bk,
.coffeeguide .coffee.vecky.hover:hover ~ .card-vecky, 
.vecky.coffee-hover-effect ~ .card-vecky,
.coffeeguide .coffee.patrick.hover:hover ~ .card-patrick,
.patrick.coffee-hover-effect ~ .card-patrick {
    visibility: visible;
}
.coffeeguide .script .wrapper:before, .coffeeguide .script . wrapper:after {
    position: absolute;
    display: block;
    font : 1.3em NanumBarunGothic;
    color : white;
}
.coffeeguide .script .wrapper:before{
    content : "“";
    top : 0; left : -20px;
}
.coffeeguide .script .wrapper:after {
    content : "”";
    bottom : 0; right : -20px;
}
.coffeeguide .script {
    pointer-events: none;
    
    line-height: normal;
    visibility: hidden;
    position : absolute;
    left : 0;bottom : 0;
    margin-bottom : 20%;
    width : 75%;
    height : auto;
    z-index: 11;
}
.coffeeguide .script > .wrapper {
    font : 0.8em NanumBarunGothic;
    line-height: 1.5em;
    width : 80%;
    display: inline-block;
    position : absolute;
    text-align: center;
    margin : 0 auto;
    left : 0; right : 0;
    color : white;
}
.coffeeguide .script > .wrapper p {
    display: block;   
}


.coffeeguide .coffee.bk.hover:hover ~ .script-bk,
.bk.coffee-hover-effect ~ .script-bk,
.coffeeguide .coffee.vecky.hover:hover ~ .script-vecky, 
.vecky.coffee-hover-effect ~ .script-vecky,
.coffeeguide .coffee.patrick.hover:hover ~ .script-patrick,
.patrick.coffee-hover-effect ~ .script-patrick {
    visibility: visible;
}



.guide {
    font-family: "BebasNeue", sans-serif;
    font-size : 1.0em;
    padding-top : 120px;
    width : 100%;
    max-width: 100%;
    overflow-x: hidden;
    height : auto;
    min-height : 500px;
    position : relative;
    background-color: white;
}   
.guide > .guide-header {
    font-size : 1.7em;  
    margin: 0 auto;
    width : 80%;
    padding : 1.5em 0; 
    border-top : 2px solid #555;
    position: relative;
}
.guide > .wrapper {
    position : relative;
    font-family: "NanumBarunGothic", sans-serif;
    font-size : 0.9em;
    width : 100%;
    min-height : 480px;
}
.guide > .wrapper > .article {

}
.guide > .wrapper > .article1 {
    background-image: url(/beanbrothers/image/coffee_theater.jpg);
    background-size : cover;
}
.guide > .wrapper > .article2 {
    background-image: url(/beanbrothers/image/bitter_sweet.jpg);
    background-size: cover;
}
.guide > .wrapper > .article > .wrapper {
    position: absolute;
    top : 0; right : 0; left : 0; bottom : 0;
    margin: auto;
    width : 80%;
    height : 80%;
}
.guide > .wrapper > .article h1 {
    font-size : 1.2em;
}
.guide > .wrapper > .article h2 {
    font-size : 0.7em;
}
.guide .prev {
    
}
.guide .now {
    position : absolute;
    margin : auto;
    top: 0; bottom : 0; left : 0; right : 0;
    width : 40%;
    padding-top: 40%;
    height : 0;
}
.guide .next {
    position : absolute;
    margin : auto 0;
    top: 0; bottom : 0; 
    right : -17.5%;
    
    width : 35%;
    padding-top: 35%;
    height : 0;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
@media only screen and (min-width : 1824px){
    #intro {
        background: url(/beanbrothers/image/big.jpg) no-repeat;
        background-position: 0% -200px;
        background-size: cover;
    }
    #bg-small {
        display: none;
    }
    #bg-middle {
        display: none
    }
    #bg-big {
        display: inline-block;
        width : 100%;   
        visibility: hidden;
    }

    #desktop-header {
        display: block;   
        font-size : 1.4em;
    }
    #mobile-toggle {
        display: none;   
    }
    #mobile-menu {
        display: none;
    }
}
@media only screen and (max-width : 1029px){
    #intro {
        background: url(/beanbrothers/image/middle.jpg) no-repeat;
        background-size: 101% auto;
        background-position: 0 0;
    }
    #intro .wrapper {
        width : 80%;   
    }
    #intro .contact {
        margin-top: 60%;
        width : 90%;
        font-size : 1.1em;
        padding: 0;
    }
    #intro .sns {
        margin-top : 60%;
        padding-top: 50px;
    }
    #intro .business, #intro .phone {
        float : left;
        margin: 10px 0;
        display: inline-block;
        width : 100%;
    }
    #intro .phone {
        cursor : auto;
    }
    #bg-small {
        display: none;
    }
    #bg-middle {
        display: inline-block;
        width : 100%;   
        visibility: hidden;
    }
    #bg-big {
        display: none
    }
        #desktop-header {
        display: none;   
    }
    
    #mobile-header {
        display: block;   
    }
    #mobile-toggle {
        display: inline-block;   
    }
    #mobile-menu {
        display: block;
        right : 0;
        width : 45%;
    }
    #mobile-header .wrapper {
        width : 80%;   
        display: block;
        margin : 0 auto;
        left : 0; right : 0;
    }
    #mobile-header .logo {
        float : left;
    }   
    #mobile-header .cart {
        float : right;
    }
    .ipad {
        display : block;   
    }
    .mobile {
        display: none;   
    }
    #mobile-toggle {
        margin-right: 10%;   
    }
    #mobile-header .cart {
        margin-right: 50px;
    }
    #sns, #contact, #aboutus {
        margin-right: 80px;
    }

    #content {
        padding-top : 48px;
    }
    .coffeeguide {
        overflow: visible;
        max-height: none;
        background-color: white;
    }
    .coffeeguide > .wrapper{
        overflow: visible;   
        height: auto;
        position: relative;
        padding-top : 200px;
    }
    .coffeeguide .section-bg {
        visibility: hidden;  
        position: absolute;
        display: none;
    }
    .coffeeguide .coffee, 
    .coffeeguide .card, 
    .coffeeguide .script {
        display: inline-block;
        background-color: transparent;
        opacity: 1;
        width : 100%;   
        position : relative;
        visibility: visible;
    }
    
    .coffeeguide .card-main {
        height : 200px;
    }
    .coffeeguide > .wrapper > .coffee{
        float : none;
        height : 0;  
        width : 100%;
        padding-top : 100px;
    }
    .coffeeguide > .wrapper > .coffee .coffee-logo > img{
        width : auto;
        height : 100%;   
    }
    .coffeeguide .wrapper > .coffee:before{
        content : "";
        display: none;
    }
    .coffeeguide .coffee > .wrapper {
        position: absolute;
        width : 80%;
        margin: 0 auto;
        left : 0; right : 0;
        margin-top : 200px;
        padding-top : 10%;
    }
    .coffeeguide .coffee .coffee-logo {
        position : relative;
        width : 40%;   
        
        left : auto; right : auto;
        padding-top : 0;
        
        opacity: 0.5;
        float : left;
        padding-left: 10%;

    }
    .coffeeguide .coffee.hover:hover .coffee-logo,
    .coffee-hover-effect .coffee-logo{
        padding-top: 0;
        opacity: 0.5;
    }
    .coffeeguide .coffee .bestwhen {
        text-align: center;
        
        padding-left: 10%;
        width : 40%;
        height : 100%;
        position : relative; 
        top : auto; 
        padding-top: 0;
        visibility: visible;
        opacity: 1;
        
        
        float : left;
    }
    .coffeeguide .coffee:hover .bestwhen,
    .coffee-hover-effect .bestwhen {
        top : auto;
        padding-top : 0;
        visibility: visible;
        opacity: 1;
    }
    
    
    .coffeeguide .coffee.bk .bestwhen {
        color : #C02E30;   
    }
    .coffeeguide .coffee.vecky .bestwhen {
        color : #7CAC52;
    }
    .coffeeguide .coffee.patrick .bestwhen {
        color : #1673A3;
    }
    .coffeeguide .coffee .bestwhen h1{
        font-size : 1.3em;
        margin-bottom: 0.7em;
    }
    .coffeeguide .coffee .bestwhen h2{
        font-size : 0.9em;

    }
    .coffeeguide .card {
        vertical-align: bottom;
        line-height: normal;
        visibility: visible;
        position : relative;
        background-color : transparent;
        top : 0; right : 0; bottom : 0; 
        width : 100%;
    }
    .coffeeguide .card-main {
        position : absolute;
        visibility: visible;
        top : 0;
        width : 100%;
        height : 200px;
        background-color : transparent;
        z-index:auto;

        -webkit-transition: all 0.5s ease;
           -moz-transition: all 0.5s ease;
             -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
    }

    .coffeeguide .card.card-main > .wrapper {
        position: absolute;
        margin : auto;
        background-color : transparent;
        top : 0; right : 0; bottom : 0; left : 0;
        width : 80%;
        height : 80%;
        color : #111;   
    }

    .coffeeguide .card-main .info{
        width : 100%;
        position: relative;
    }
    .coffeeguide .card-main .info .name{
        font-size : 1.2em;

        display: inline-block;
        
        padding-left : 0;
    }

    .coffeeguide .card-main .tag {
        font-size : 0.7em;
        position : relative;
        bottom :0;
        margin : 0;
    }
    
    .coffeeguide .coffee.hover:hover ~ .card-main, 
    .coffee-hover-effect ~ .card-main{
        background-color : transparent;
        opacity: 1;
    }
    .coffeeguide .coffee.hover:hover ~ .card-main .wrapper, 
    .coffee-hover-effect ~ .card-main .wrapper{
        background-color : transparent;
        opacity: 1;
        padding : 0;
        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
    }
    .coffeeguide .coffee.hover:hover ~ .card-main .info .name, 
    .coffee-hover-effect ~ .card-main .info .name{
        padding-left : 0;
    }

    .coffeeguide .card > .wrapper {
        font-size : 1.0em;
        width : 80%;
        height : 80%;
        position : relative;
        margin : auto;
        top : 0; left : 0; right : 0; bottom : 0;
        background-color : transparent;
        color : #666;
        padding : 0.5em;
        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;
    }
    .coffeeguide .card > .wrapper > .info,
    .coffeeguide .card > .wrapper > .taste {
        margin : 0;
    }
    .coffeeguide .card > .wrapper > .info{
        padding-top : 10%;   
        display: inline-block;
    }
    .coffeeguide .card > .wrapper > .taste {
        padding-top : 15%;   
    }
    .coffeeguide span {
        line-height: 0;   
    }
    .coffeeguide .card > .wrapper h1 {
        font-size : 1.6em;   
        line-height: 1.0em;
    }
    .coffeeguide .card > .wrapper h3{
        font-size : 1.1em;   
        line-height : 1.3em;
    }
    .coffeeguide .card > .wrapper h4{
        font-size : 1.0em;
        line-height : 1.2em;
    }
    .coffeeguide .card > .wrapper h5{
        font-size : 0.9em;
        line-height : 1.4em;
    }
    .coffeeguide .card > .wrapper .line{
        width : 20%;
        border : 1px solid black;
        display: block;
        margin : 0.6em 0 0.7em 0;
        line-height: 0;
    }
    .coffeeguide .card > .wrapper > .taste h1 {
        color : #555;  
    }
    .coffeeguide .card-bk .name {
        color : #C02E30;   
    }
    .coffeeguide .card-vecky .name {
        color : #7CAC52;
    }
    .coffeeguide .card-patrick .name {
        color : #1673A3;
    }
    .coffeeguide .wrapper > .coffee.hover:before {
        display: none;   
    }
    .coffeeguide .coffee.hover:hover ~ .card-main, 
    .coffee-hover-effect ~ .card-main{
        opacity: 1;   
        visibility: visible;
    }
    .coffeeguide .coffee.bk.hover:hover ~ .card-bk,
    .bk.coffee-hover-effect ~ .card-bk,
    .coffeeguide .coffee.vecky.hover:hover ~ .card-vecky, 
    .vecky.coffee-hover-effect ~ .card-vecky,
    .coffeeguide .coffee.patrick.hover:hover ~ .card-patrick,
    .patrick.coffee-hover-effect ~ .card-patrick {
        visibility: visible;
        opacity: 1;
    }
    .coffeeguide .coffee.bk.hover:hover ~ .script-bk,
    .bk.coffee-hover-effect ~ .script-bk,
    .coffeeguide .coffee.vecky.hover:hover ~ .script-vecky, 
    .vecky.coffee-hover-effect ~ .script-vecky,
    .coffeeguide .coffee.patrick.hover:hover ~ .script-patrick,
    .patrick.coffee-hover-effect ~ .script-patrick {
        visibility: visible;
        opacity: 1;
    }
    
    .coffeeguide .coffee.hover:hover > .coffee-logo,
    .coffee-hover-effect > .coffee-logo{
        padding : 0;
    }
    .coffeeguide .script .wrapper:before, 
    .coffeeguide .script .wrapper:after {
        position: absolute;
        display: block;
        font : 3.0em NanumBarunGothic;
        color : black;
        left : 0; right : 0;
    }
    .coffeeguide .script .wrapper:before{
        content : "“";
        top : -0.65em;
    }
    .coffeeguide .script .wrapper:after {
        content : "”";
        bottom : -1.3em;
    }
    .coffeeguide .script-bk .wrapper:before, 
    .coffeeguide .script-bk .wrapper:after {
        color : #C02E30; 
    }
    .coffeeguide .script-vecky .wrapper:before,
    .coffeeguide .script-vecky .wrapper:after {
        color : #7CAC52;
    }
    .coffeeguide .script-patrick .wrapper:before,
    .coffeeguide .script-patrick .wrapper:after {
        color : #1673A3;
    }

    .coffeeguide .script {
        font-size : 1.0em;

        line-height: normal;
        visibility: visible;
        position : relative;
        left : auto; bottom : auto;
        margin-bottom : 0;
        width : 100%;
        height : 200px;
        min-height : 200px;
        z-index: 11;
        line-height: 1.0em;
        
        text-align: center;
    }   
    .coffeeguide .script:before {
       
        display: inline-block;
        height : 100%;
        content: "";
        vertical-align: middle;
    }
    .coffeeguide .script > .wrapper {
        height: auto;
        font : 0.8em NanumBarunGothic;
        line-height: 1.5em;
        width : 80%;
        display: inline-block;
        position : relative;
        text-align: center;
        margin : 0 auto;
        left : 0; right : 0;
        color : black;
        
        vertical-align: middle;
    }
    .coffeeguide .script > .wrapper p {
        position: static;
        display: block;   
    }


    .coffeeguide .coffee.bk.hover:hover ~ .script-bk,
    .bk.coffee-hover-effect ~ .script-bk,
    .coffeeguide .coffee.vecky.hover:hover ~ .script-vecky, 
    .vecky.coffee-hover-effect ~ .script-vecky,
    .coffeeguide .coffee.patrick.hover:hover ~ .script-patrick,
    .patrick.coffee-hover-effect ~ .script-patrick {
        visibility: visible;
    }
    .guide > .wrapper {
        font-size : 0.8em;   
    }
}
@media only screen and (max-width : 640px){
    #intro {
        background: url(/beanbrothers/image/small.jpg) no-repeat;
        background-size: 101% auto;
        background-position: 0 0;
    }
    #intro .wrapper{
        width : 100%;
    }
    #intro .sns {
        display: none;
    }
    #intro .contact {
        padding-top: 50%;
        width : 100%;
        text-align: center;
    }
    #intro .business, #intro .phone {
        float : none;
    }
    #intro .business, #intro .phone {
        margin: 10px 0;
        display: inline-block;
        width : 100%;
    }
    #bg-small {
        display: inline-block;
        width : 100%;   
        visibility: hidden;
    }
    #bg-middle {
        display: none
    }
    #bg-big {
        display: none;
    }

    #desktop-header {
        display: none;   
    }
    #mobile-header {
        display: block;   
    }
    #mobile-toggle {
        display: inline-block; 
        margin-right: 11px;
    }
    #mobile-menu {
        display: block;
        width : 100%;
    }
    #mobile-header {
        clear : both;   
    }
    #mobile-header .wrapper {
        text-align: center;
        width : 100%;   
    }
    #mobile-header .logo {
        float: none;
    }
    #mobile-header .cart {
        margin-left: 11px;
        position : absolute;
        left : 0;
    }
    .ipad {
        display : none;   
    }
    .mobile {
        display : block;   
    }
    #aboutus {
        width : 100%;   
    }
    #contact {
        width : 100%; 
    }
    #sns {
        width : 100%;   
    }
    
    #content > .wrapper {
        width : 100%;   
    }
    .footer > .wrapper {
        width : 80%;   
    }
    .guide .prev {

    }
    .coffeeguide > .wrapper {
        padding-top : 50px;   
    }
    .coffeeguide .wrapper > .coffee {
        display: inline-block;
    }   
    .coffeeguide .coffee > .wrapper {
        padding-top : 0;
        margin-top: 0;
        position : relative;
        height : auto;
    }
    .coffeeguide .coffee .coffee-logo,
    .coffeeguide .coffee .bestwhen{
        opacity: 1;
        width : 100%;
        float : none;
        margin: 0;
        padding: 0;
    }
    .coffeeguide .coffee.hover:hover .coffee-logo,
    .coffee-hover-effect .coffee-logo{
        padding-top: 0;
        opacity: 1;
    }
    .coffeeguide .coffee .bestwhen{
        margin-top : 40px;
    }
    .coffeeguide .script {
        font-size : 0.7em;   
        min-height: 250px;
    }
    .coffeeguide .script > .wrapper {
        width : 90%;   
    }
    .coffeeguide .card > .wrapper h1 {
        font-size : 1.3em;   
        line-height: 1.0em;
    }
    .coffeeguide .card > .wrapper h3{
        font-size : 1.1em;   
        line-height : 1.3em;
    }
    .coffeeguide .card > .wrapper h4{
        font-size : 1.0em;
        line-height : 1.2em;
    }
    .coffeeguide .card > .wrapper h5{
        font-size : 0.7em;
        line-height : 1.4em;
    }
    .coffeeguide .card > .wrapper .line{
        width : 20%;
        border : 1px solid black;
        display: block;
        margin : 0.6em 0 0.7em 0;
        line-height: 0;
    }
    .guide > .wrapper {
        position : relative;
        font-family: "NanumBarunGothic", sans-serif;
        font-size : 0.9em;
        width : 100%;
        min-height : 400px;
    }
    .guide .now {
        position : absolute;
        margin : auto;
        top: 0; bottom : 0; left : 0; right : 0;
        width : 65%;
        padding-top: 65%;
        height : 0;
    }
    .guide .next {
        position : absolute;
        margin : auto 0;
        top: 0; bottom : 0; 
        right : -45%;

        width : 55%;
        padding-top: 55%;
        height : 0;
    }

}
@media only screen and (max-width : 680px) and (orientation : landscape){
    #intro-container {
        overflow : auto;
        max-height : none;
    }
    #intro {
        overflow: auto;
    }
}






/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}